    <div class="box">
        <div class="content is-medium">
            <div class="row">
                <div class="col">
                    <div class="content is-medium">
                        <h1>Hello Profile</h1>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae tempora voluptatum similique quod corrupti eum velit facere, 
                            maxime, culpa deleniti consequuntur cumque voluptas quis dolorem eveniet reprehenderit esse quibusdam eius.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>