<div class="column is-half is-offset-one-quarter">
    <div class="column is-half is-offset-one-quarter">
        <div class="box">
            <div class="content is-medium">
                <div class="row">
                    <div class="col">
                        <div class="content is-small">
                            <h1>Log In</h1>
                            <form action="/signin" method="post">
                                <div class="box">
                                    <div class="field">
                                        <label class="label">Username</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Username" name="username" required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Password</label>
                                        <div class="control">
                                            <input class="input" type="password" placeholder="Password" name="password" required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <button class="button is-success is-fullwidth">
                                                Success
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>